<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coupon_code %>
    <%= form.number_field :coupon_code %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.hidden_field :shop_id,value: form.shop_id %>
  </div>

  <div class="field">
    <%= form.label :is_redeem %>
    <%= form.check_box :is_redeem %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
