<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon code:</strong>
  <%= @coupon.coupon_code %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @coupon.shop_id %>
</p>

<p>
  <strong>Is redeem:</strong>
  <%= @coupon.is_redeem %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @coupon.customer_id %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
