<style>
.container
{
    padding-top:20px;
    
}
.card
{
    box-shadow:8px 10px 18px #888888;
}

li 
{
  margin-left: 20px;
}

.instruction_home {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 30px
}
.instruction_heading h3 {
    font-size: 24px;
    text-align: center;
    color: #1C2260;
    text-transform: uppercase;
    margin: 25px 0;
}
.instruction_home ul {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.instruction_home ul h4 {
    font-size: 18px;
    color: #1C2260;
    font-weight: 400;
}
fieldset {
  background: #F5F5F585;
    margin: 20px 0;
}

xmp {
    color: #000;
}


</style>
<div class = "instruction_heading">
<h3> Instructions</h3>
</div>
  <div class="container">
  <div class = "instruction_home">

<ul>
 <h4>Setup From Shopify</h4>
<li> From Shopify The Admin Generates a coupon code with validity being through out the year to all the customers</li>
<li> And whose usability is set to one</li>
<li> Click generate coupon code </li>
<li> Now copy the coupon code</li>
</ul>
<ul>
<h4>Setup From App</h4>
<li> First Go to the Shop Settings and then create a new shop setting followed by fill in the form with coupon code that is copied from the store front</li>
<li> Now paste the coupon code in the form</li>
<li> Fill in the rest of the details</li>
<li> Click on submit </li>
<li> By this shop setting is being created</li>
<li> Now the customers records need to be updated for the old customers through csv upload</li>
<li> Now for the new customers in the store front a new date field needs to be created by pasting the liquid code and some javascript code</li>
<li> We sugguest the merchant to allow the customer to redeem the coupon only once </li>
</ul>
<ul>
<h4>Setup From Liquid Code</h4>
<li> Go to customers/account.liquid page </li>
 <fieldset>
   <xmp>
                <div id=“klocBirthDay”>
                  <!-- code for birthday filed for old customer -->
                  <label for=“{{ formId }}-age”>Enter Birthdate</label>
                  <input type=“date” name=“customer[note][birthdate]” max=“2000-01-01” id=“kloc-birthdate”/>
                  <p class=“text-center”>
                    <input type=“button” name = “Submit” id=“submitBirthdate” class=“btn” value=“Update”/>
                  </p>
                </div>
              </xmp>
</fieldset>
<li> In the same customers/account.liquid page add the following code in the end </li>
<fieldset>
     <xmp>
                <script src=“https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>
                {% include ‘kloc-birthdate-main’ %}
                <script>
                  var shopifyCustomerId = ShopifyAnalytics.meta.page.customerId;
                  $(document).ready(()=>{
                    var information = {};
                    information[“customerId”] = ShopifyAnalytics.meta.page.customerId;
                    ajaxCallBackendForCheck(information);
                    $(‘#submitBirthdate’).click((e)=>{
                        information[“birthdate”] = $(‘#kloc-birthdate’).val();
                        //ekhane pore onno update er  asbe, touch kr is na.
                        ajaxCallBackendForUpdateBirthday(information)
                    })
                  function ajaxCallBackendForCheck(information){
                      $.ajax(“/apps/BirthdayMail/checkings/check_customer_dob_present”,{ data: {customer_id: information[“customerId”],
                      birthdate: information[‘birthdate’]},
                      method: “POST”,
                      dataType: “json”,
                      error: function(response, status, xhr) {
                        failed_object = response;
                        alert(“error in ajax”);
                        console.log
                      },
                      success: function(data) {
                        if(data.is_there == false)
                          $(‘#klocBirthDay’).remove();
                      }
                    })
                  }
                  function ajaxCallBackendForUpdateBirthday(information){
                      $.ajax(“/apps/BirthdayMail/checkings/check_customer_dob_present_and_update”,{ data: {
                      customer_id: information[“customerId”],birthdate: information[‘birthdate’]},
                      method: “POST”,
                      dataType: “json”,
                      error: function(response, status, xhr) {
                        failed_object = response;
                        alert(“error in ajax”);
                        console.log
                      },
                      success: function(data) {
                        if(data.is_there == false)
                          $(‘#klocBirthDay’).remove();
                      }
                    })
                  }
                  })
                </script>
             </xmp>
</fieldset>
<li> In the same customers/account.liquid page add the following code in the end </li>
<fieldset>
    <xmp>
                <script src=“https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>
                {% include ‘kloc-birthdate-main’ %}
                <script>
                  var shopifyCustomerId = ShopifyAnalytics.meta.page.customerId;
                  $(document).ready(()=>{
                    var information = {};
                    information[“customerId”] = ShopifyAnalytics.meta.page.customerId;
                    ajaxCallBackendForCheck(information);
                    $(‘#submitBirthdate’).click((e)=>{
                        information[“birthdate”] = $(‘#kloc-birthdate’).val();
                        //ekhane pore onno update er  asbe, touch kr is na.
                        ajaxCallBackendForUpdateBirthday(information)
                    })
                  function ajaxCallBackendForCheck(information){
                      $.ajax(“/apps/BirthdayMail/checkings/check_customer_dob_present”,{ data: {customer_id: information[“customerId”],
                      birthdate: information[‘birthdate’]},
                      method: “POST”,
                      dataType: “json”,
                      error: function(response, status, xhr) {
                        failed_object = response;
                        alert(“error in ajax”);
                        console.log
                      },
                      success: function(data) {
                        if(data.is_there == false)
                          $(‘#klocBirthDay’).remove();
                      }
                    })
                  }
                  function ajaxCallBackendForUpdateBirthday(information){
                      $.ajax(“/apps/BirthdayMail/checkings/check_customer_dob_present_and_update”,{ data: {
                      customer_id: information[“customerId”],birthdate: information[‘birthdate’]},
                      method: “POST”,
                      dataType: “json”,
                      error: function(response, status, xhr) {
                        failed_object = response;
                        alert(“error in ajax”);
                        console.log
                      },
                      success: function(data) {
                        if(data.is_there == false)
                          $(‘#klocBirthDay’).remove();
                      }
                    })
                  }
                  })
                </script>
             </xmp>
</fieldset>
<li> In customers/register.liquid after line number 55 add the following code. Before submit button code</li>
<fieldset>
    <xmp>
                <label for=“{{ formId }}-age”>Enter Birthdate</label>
                <input type=“date” name=“customer[note][birthdate]” max=“2000-01-01” id=“kloc-birthdate”/>
             </xmp>
</fieldset>
<li> Inside snippets create another file named as: kloc-birthdate-main.liquid </li>
<fieldset>
         <xmp>
                        <script>
                        function getDate() {
                          var today = new Date();
                          var dd = today.getDate();
                          var mm = today.getMonth()+1; //January is 0!
                          var yyyy = today.getFullYear();
                          if(dd<10) {
                              dd = ‘0’+dd
                          }
                          if(mm<10) {
                              mm = ‘0’+mm
                          }
                          today = yyyy + ‘-’ + mm + ‘-’ + dd;
                          console.log(today);
                          $(‘#kloc-birthdate’)[0].setAttribute(‘max’,today);
                        }
                        function setCurrentDate(){
                        var now = new Date();
                        var day = (“0” + now.getDate()).slice(-2);
                        var month = (“0" + (now.getMonth() + 1)).slice(-2);
                        var today = now.getFullYear()+“-”+(month)+“-”+(day) ;
                        $(‘#kloc-birthdate’).val(today);
                        }
                      window.onload = function() {
                        getDate();
                        setCurrentDate();
                      };
                      $(‘#kloc-birthdate’).keypress((e)=>{
                        alert(“You are unauthorized to do this”);
                        e.preventDefault();
                      })
                      </script>
                </xmp>
</fieldset>
</ul>
  </div>
<center>
  <% if session[:status] %>
   <% else %>
     <label>To view the plan click this button</label>
     <%= link_to 'Activate', @charge , target: :_blank, class: 'btn btn-primary' %>
  <% end %>
</center>
</div>
<br><br>


