<style>
.edit_container .form-group {
  margin-bottom: 10px;
}
.edit_container .form-control {
    width: 100%;
    padding: 10px;
    height: auto;
    font-size: 14px;
    color:black;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    line-height:1.42857143;
}

.edit_container {
    text-align: left;
    width: 50%;
    margin: 15px auto;
}
.edit_container .actions input {
    width: 100%;
    color: #fff;
    margin-top: 10px;
    background-color: #1C2260;
    border-color: #1C2260;
}


.edit_container .actions input:hover {
    background: #F2F2F2;
    transition: 0.5s;
    color: #000;
}
.footer_buttons a {
  color: #fff;
  background: #1C2260;
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width:25%;
}
.footer_buttons a:hover {
  background: #F2F2F2;
  transition: 0.5s;
  color:#000;
}

@media only screen and (max-width: 600px) {
  .edit_container {
    width: 100%;
  }
  .footer_buttons a {
      width: 100%;
      margin-bottom: 15px;
}
}
</style>






<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:red;"><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <span style="color:red;"><%= message %></span>
      <% end %>
      </ul>
    </div>
  <% end %>


  



<center>
  <div class="container">
    <div class="edit_container">
    <div class="form-group">
      <%= form.label :day_number,'Days before birthday (*)',class: "form-group" %>
      <%= form.number_field :day_number,class: "form-control", min:0 %>
    </div>
      

    <div class="form-group">
      <%= form.label :num_of_customer,'Max number of customers to sent to',class: "form-group" %>
      <%= form.text_field :num_of_customer, class: "form-control", min:0 %>
    </div>
      

    <div class="form-group">
      <%#= form.label :coupon_exp_date,'Coupon Active Till(*)',class: "form-group"%>
      <%= form.hidden_field :coupon_exp_date, class: "form-control", min:0, value: 321 %>
    </div>

    <div class="form-group">
      <%= form.label :birthdaycouponcode,'Birthday Coupon Code(*)',class: "form-group" %>
      <%= form.text_field :birthdaycouponcode , class: "form-control" %>
    </div>
      
      
    
    <div class="form-group">
    <%= form.label :email_subject,'Email subject (*)',class: "form-group" %>
    <%= form.text_area :email_subject, class: "form-control" %>
  </div>
    

  <div class="form-group">
    <%= form.label :email_content,'Email content (*)',class: "form-group" %>
    <%= form.text_area :email_content, class: "form-control" %>
  </div>
    


    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
    </div>
  </div>
  </center>
<% end %>



