<style>
.btn-primary
  {
	background-color:#2d2b75;
    color:white;
    text-decoration:none;
    border-radius:4px;
    
  }
  .btn-primary:hover
  {
	background-color:#2d2b75;
    color:white;
  }
  .main-title
  {
    color:#2d2b75;
  }
  .footer_buttons a {
    color: #fff;
    background: #1C2260;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .footer_buttons a:hover {
    background: #F2F2F2;
    transition: 0.5s;
  }
  </style>

<%= render 'layouts/nav' %>
<center><h1 class="main-title">Editing Setting</h1>

<%= render 'form', setting: @setting %>
<div class = "container">
<div class = "footer_buttons">
<%= link_to 'Show', @setting ,class: "btn btn-primary"%> 
<%= link_to 'Back', settings_path ,class: "btn btn-primary"%>
</div>
</div>
</center>


  
