<style>
   .colours
   
  {
    background-color:#2d2b75;
    color:white;
  }
  .table{
    box-shadow:8px 10px 18px #888888;
  }
  .main-title
  {
    color: #2d2b75;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #F2F2F2;}

table.table.table-hover td {
    padding: 20px;
    font-size: 14px;
}
table.table.table-hover th {
    padding: 20px;
    background: #1C2260;
    color: #fff;
}
table.table.table-hover {
border: 1px solid #ddd;
font-size: 14px;
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

.footer_buttons a {
    color: #fff;
    background: #1C2260;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.footer_buttons a:hover {
    background: #F2F2F2;
    transition: 0.5s;
}

</style>

<%= render 'layouts/nav' %>
<p id="notice" style = "color:green;" align = "center"><%= notice %></p>
  <h1 class="main-title">Settings</h1>
  <% @settings.each do |setting| %>
      <div class="container">
      <div style="overflow-x:auto;">
      <table class="table table-hover"> 
      <tbody>
      
            <tr>
            <th>Days Before Birthday</th>
            <td>Before <%= setting.day_number %> days</td>
            </tr>
            <tr>
            <th>Max Number Of Customer To Sent To</th>
            <td><%= setting.num_of_customer %> </td>
            </tr>
            <tr>
            <th>Birthday Coupon Code</th>
            <td><%= setting.birthdaycouponcode %> </td>
            </tr>
            <tr>
            <th>Email subject</th>
            <td><%= setting.email_subject %> </td>
            </tr>
            <tr>
            <th>Email content</th>
            <td><%= setting.email_content %> </td>
            </tr>
           
         
        </tbody>
      </table>
      </div>
      </div>
      <div class = "footer_buttons">
      <center>
              <%= link_to 'Show', setting,class: "btn btn-default" %> 
              <%= link_to 'Edit', edit_setting_path(setting) ,class: "btn btn-default"%> 
              <%= link_to 'Destroy', setting, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default" %> 
              </center>
              </div>
      <% end %>
      <br>
      <center>
      <% if @settings.count > 0 %>
      <% else %>
        <%= link_to 'New Setting', new_setting_path %>
      <% end %>
      </center>
 