<style>
.footer_buttons_new a {
  color: #fff;
  background: #1C2260;
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: auto;
}
.footer_buttons_new a:hover {
  background: #F2F2F2;
  transition: 0.5s;
  color:#1C2260;
}
</style>
<%= render 'layouts/nav' %>
<center>
	<h1>New Setting</h1>

	<%= render 'form', setting: @setting %> <br>
	<div class = "footer_buttons_new">
		<%= link_to 'Back', settings_path,class: 'btn btn-primary' %>
	</div>
</center>