<style>
.table
  {
  box-shadow:8px 10px 18px #888888;
  }
  .btn-default
  {
	background-color:#2d2b75;
    color:white;
  }
  .btn-default:hover
  {
	background-color:#2d2b75;
    color:white;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {background-color: #F2F2F2;}
  
  table.table.table-hover td {
      padding: 20px;
      font-size: 14px;
  }
  table.table.table-hover th {
      padding: 20px;
      background: #1C2260;
      color: #fff;
  }
  table.table.table-hover {
  border: 1px solid #ddd;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  margin-top:30px;
  }

.footer_buttons a {
  color: #fff;
  background: #1C2260;
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.footer_buttons a:hover {
  background: #F2F2F2;
  transition: 0.5s;
}
</style
<%= render 'layouts/nav' %>
<center>
	<p id="notice" style="color:green;"><%= notice %></p>
  
	<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Coupon Sent Before </th>
        <td><%= @setting.day_number %> days </td>
        
      </tr>
      <tr>
        <th>Total Customers Who Will Get Coupon </th>
        <td><%= @setting.num_of_customer %> customers </td>
        
      </tr>
      
      <tr>
        <th>Birthday Coupon Code </th>
        <td><%= @setting.birthdaycouponcode %></td>
        
      </tr>
      
      <tr>
        <th>Birthday message title</th>
        <td><%= @setting.email_subject %></td>
        
      </tr>
      
      <tr>
      <th>Birthday message</th>
      <td><%= @setting.email_content %></td>
      
    </tr>
      
      
    </tbody>
  </table>
</div>
<div class = "footer_buttons">
     <%= link_to 'Edit', edit_setting_path(@setting),class: "btn btn-default"  %> 
	 <%= link_to 'Back', settings_path,class: "btn btn-default" %>
</div>
</center>



