
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" style="color:red;">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <center>
  <div class="container-1">
    
    <div class="form-group">
      <%= form.label :shopify_customer_id,class: "form-group" %>
      <%= form.number_field :shopify_customer_id,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :customer_name,class: "form-group" %>
      <%= form.text_field :customer_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :customer_email ,class: "form-group"%>s
      <%= form.text_field :customer_email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :birthday,class: "form-group" %>
      <%= form.date_field :birthday, class: "form-control" %>
    </div>

    
    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
  </center>
<% end %>

<style>
button, html input[type=button], input[type=reset], input[type=submit]
{
  -webkit-appearance:button;
  cursor:pointer;
  background-color:#2d2d84;
  color:white;
  height:40px;
  border-radius:5px;
}
.form-control
{
  width:31%;
}
</style>
