<center><h1 class="main-title">Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', @customer,class:"btn btn-default" %> 
<%= link_to 'Back', customers_path,class:"btn btn-default" %>
</center>

<style>
.main-title
{
    color:#2d2d84;
}
.btn-default
{
    background-color:#2d2d84;
    color:white;
}
.btn-default:hover
{
    background-color:#2d2d84;
    color:white;
}

</style>