<style>
.colours

{
 background-color:#2d2b75;
 color:white;
}
.table{
 box-shadow:8px 10px 18px #888888;
}
.main-title
  {
    
    color:#2d2b75;
    width:170px;
  }
  .btn-primary
  {
  background-color:#2d2d84;
  color:white;
  }
  .btn-primary:hover
  {
  background-color:#2d2d84;
  color:white;
  }
  

  a:link_to{
    color:#2d2d84;
  }

  uploadcsv form {
    display: inline-block;
    vertical-align: top;
}
.uploadcsv {
text-align: right;
    margin-bottom: 20px;
    float:right;
    width:27%;
  
}

.uploadcsv h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #1C2260;
    line-height: 14px;
}

.uploadcsv input#file {
    display: inline-block;
    width: 58%;
    padding: 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #1C2260;
    color: #fff;
    vertical-align: middle;
}

.uploadcsv input[type="submit"] {
    width: 25%;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #1C2260;
    color: #fff;
}


.btnfile {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
.exportcsv a {
  font-size: 12px;
  text-transform: uppercase;
  color: #1C2260;
  line-height: 14px;
  font-weight: 500;
}
.exportcsv {
    margin-top: 10px;
}

</style>


<p id="notice"><%= notice %></p>

<center><h1 class="main-title">Customers</h1></center>

<div class="container">
<div class=" uploadcsv">

<h3> Import customer csv </h3>
<%= form_tag import_customers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>
<div class="exportcsv">
  <%= link_to "View sample customer CSV", "/sample.csv"%>
</div>
</div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead class="colours">
      <tr>
        <th>Customer Email</th>
        <th>Birthday</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    </div>


  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_email %></td>
        <td><%= customer.birthday %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-default"%></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>


