<center><h1 class="main-title">New Customer</h1></center>

<%= render 'form', customer: @customer %>
<br>
<center><%= link_to 'Back', customers_path, class: "btn btn-primary" %></center>

<style>
.btn-primary:hover
{
    background-color:#2d2d84;
    color:white;

}
.main-title
{
    color:#2d2d84;

}
</style>