<p id="notice" style = "color:green;" align = "center"><%= notice %></p>

<center>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Customer Name</td>
        <td><%= @customer.customer_name %></td>
        
      </tr>
      <tr>
        <td>Customer Email</td>
        <td><%= @customer.customer_email %></td>
        
      </tr>
      <tr>
        <td>Birthday</td>
        <td><%= @customer.birthday %></td>
        
      </tr>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_customer_path(@customer),class:"btn btn-default" %> 
  <%= link_to 'Back', customers_path,class:"btn btn-default" %>

</div>

</center>


<style>
.table
{
  box-shadow:8px 10px 18px #888888;
}
.btn-default
{
  background-color:#2d2d84;
  color:#fff;
}
.btn-default:hover
{
  background-color:#2d2d84;
  color:#fff;
}

</style>