<style>
.btn-primary {
background-color: #2d2b75;
    border-color: #2d2b75;
}

.accordion {
  background-color: #2d2b75;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  margin:4px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #2d2b75; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-bottom: 0px!important;
}
.kloc-faq{
    margin-top:50px;
}
</style>
<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <div class="kloc-faq">
                <button class="accordion"> What modification does the app do when I install?</button>
                <div class="panel">
                <p>The app does not do any modification to your store or data. But you need to customize your registration form.</p>
                </div>

                <button class="accordion"> Does this app work on all Shopify stores? </button>
                <div class="panel">
                <p>Yes the app works on all shopify store. There is no restriction for installing the app.</p>
                </div>

                <button class="accordion">Is the app meant for a specific country?</button>
                <div class="panel">
                <p>No, the app can be used world wide. </p>
                </div>
                <button class="accordion">What is the basic requirement for installing the app? </button>
                <div class="panel">
                <p>In the registration page the merchant need to add a birthday field. The steps required to add the field is mentioned in the home page of the application.</p>
                </div>

                <button class="accordion">Can I customize my email template?</button>
                <div class="panel">
                <p> Yes, the whole email is customizable. Both the subject of the email and the body of the email is customizable.</p>
                </div>

                <button class="accordion">Can I control when the birthday email is sent?</button>
                <div class="panel">
                <p>You can set the number of days before birthday the mail is to be send. But you can’t determine the time of day the mail is send. </p>
                </div>
                <button class="accordion">What if I don’t want to ask my customers for their age?</button>
                <div class="panel">
                <p>Actually the application dosen’t require the birth year. If you don’t want to ask about customer’s age then in the form you can restrict the field with only date and month. </p>
                </div>

                <button class="accordion">How can I upload existing customer birthdates into the app?</button>
                <div class="panel">
                <p>Adding existing customer’s birthday is possible by uploading a csv file. The option is given in the customer page of the app. The format and other details are mentioned in that page only. For uploading a CSV you should follow the format correctly.</p>
                </div>

             
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <!--<div class="col-md-4 card_shadow">
            <h3 style="color:#5C6AC4">Question? Suggestion? Feedback?</h3>
            <div class="row" style="border:1px solid #DEDEDF;padding:10px">
                <div class="col-md-12" >
                    <label for="name">Name</label><br>
                    <input type="text" name="name" placeholder="Name" id="name" style="width:100%;padding-left:10px"></br>
                    <span id="nameError"></span>
                </div>
                <div class="col-md-12" >
                        <label for="E-mail">E-mail</label><br>
                        <input type="text" name="E-mail" placeholder="E-mail" id="email"style="width:100%;padding-left:10px">
                        <span id="emailError"></span>
                </div>
                <div class="col-md-12" >
                        <label for="Message">Message</label><br>
                        <textarea rows="10" cols="52" style="width:100%;padding: 10px;" id="message"></textarea>
                        <span id="messageError"></span>
                        <span id="succesfullySent"></span>
                </div>-->
              <div class="col-md-4 card_shadow" style="margin-top:27px;">
              <h3 style="color:#5C6AC4">Question? Suggestion? Feedback?</h3>
              <a href="http://helpdesk.kloc-apps.com/" class="btn btn-primary" target="_blank">Contact Help Desk</a>
              
              </div> 
              

<style>
    .btn-default {
    background-color: #fff;
    border-radius: 0;
    margin: 0 5px 0 0;
    border: 1px solid #2d2b75;
}
.btn-default:hover {
    background: #2d2b75 !important;
    color: #fff !important;
    border-color: #2d2b75 !important;
}
.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
background-color: #1e2b60;
border-color: #1e2b60;
    
}
a:visited{
    color:#fff;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #1e2b60;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .list-inline>li{
        float:left;
        margin-left: 5px;
    }
   
}
</style>

                <%# <div class="col-md-12" >
                        <button class="btn btn-default" onclick="sendMail();">Send E-mail</button>
                </div> %>

            <%# <script>
              function sendMail(){

              var formValidate = {
                  nameValid: false,
                  emailValid: false,
                  messageValid: false
              }
                    var nameHandle = document.getElementById("name")
                    var emailHandle = document.getElementById("email")
                    var messageHandle = document.getElementById("message")

                    var nameErrorHandle = document.getElementById("nameError")
                    var emailErrorHandle = document.getElementById("emailError")
                    var messageErrorHandle = document.getElementById("messageError")
                    var emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                    if(nameHandle.value === ""){
                      nameErrorHandle.innerHTML = "Name Can't be blank"
                      formValidate.nameValid = false
                    }else{
                      nameErrorHandle.innerHTML = ""
                      formValidate.nameValid = true
                    }

                    if(emailHandle.value === ""){
                         emailErrorHandle.innerHTML = "Email Can't be blank"
                         formValidate.emailValid = false
                    }else if(!emailFormat.test(emailHandle.value)){
                         emailErrorHandle.innerHTML = "Should be correct mail"
                         formValidate.emailValid = false
                    }else{
                         emailErrorHandle.innerHTML = ""
                         formValidate.emailValid = true
                    }

                    if(messageHandle.value === ""){
                         messageErrorHandle.innerHTML = "Message Can't be blank"
                         formValidate.messageValid = false

                    }else{
                         messageErrorHandle.innerHTML = ""
                         formValidate.messageValid = true
                    }


                    if(!Object.values(formValidate).includes(false)){

                         var xhr = new XMLHttpRequest()

                         xhr.open('GET',`/helps/send_mail?name=${nameHandle.value}&email=${emailHandle.value}&message=${messageHandle.value}`, true)
                           xhr.onreadystatechange = function(){
                               if(xhr.readyState === 4 && xhr.status === 200){
                                 var response = JSON.parse(xhr.responseText);
                                 
                                 succesfullySent.innerHTML = response.msg
                               }
                           }
                         xhr.send()
                       }

                    }
            
            </script> %>
            
              

            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
</div>
</br>
</br>

                




<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
      $(".panel").hide();
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

